*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
  }

 body{
  background-color: white
 }

 main#principal{
  display: block;
  background-color: rgba(211, 211, 211, 0.418);
  margin: 30px 8px;
  padding: 15px;
  border-radius: 5px;
 }

 #titulo{
  text-align: center;
  margin: 30px auto 20px auto;
  font-size: 2.5em;
 }

 #principal p{
  text-align: center;
 }

 #div-foto{
  display: block;
  max-width: 100%;
  margin: 30px auto 20px auto;
  background-color: white;
  
  }

 #foto{
  display: block;
  margin: 10px auto;
  height: auto;
  max-width: 100%;
 
 }

 #legenda{
  display: block;
  text-align: center;
  margin: 10px auto;
 }
 
 #tributo{
  display: block;
 }

 #tempo{
  text-align: center;
  font-size: 1.5em;
  margin: 50px 0;
 }

 ul{
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 2.6;
  
 }

 li{
  margin: 10px;
 }

 #rodape{
  text-align: center;
  margin: 15px;
 }